# Supabase Configuration
VITE_SUPABASE_URL=https://vojusvpholxntrxbihhk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZvanVzdnBob2x4bnRyeGJpaGhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM3MDg0ODMsImV4cCI6MjA4OTI4NDQ4M30.3ZDj8YwKe5vHHBPBKu51LKC09ZSPTyn2AO0HigYi1zY

# Gemini API Key
GEMINI_API_KEY=
VITE_GEMINI_API_KEY=
